body {
    font-family: 'Montserrat', sans-serif;
    background-color: #92817A;
    margin: 0;
    color: 000500;
}

header {
    background-color: #F1DABF;
/*     padding: 10px;*/
    margin: 10px;
}

h1 {
    font-family: 'Caveat', cursive;
}

nav {
background-color: #362417;
box-shadow: 1px 1px 1px  #6e615ca2;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #FFFBFF;
    text-decoration: none;
    padding: 4px;
    margin-right: 25px;
}

nav a:hover {
    background-color: #FFFBFF;
    color: #362417;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: #FFFBFF;
}

article footer {
    background-color: #e2e1e2;
}

.rodape {
    background-color: #000500;
    color: #FFFBFF;
    text-align: center;
    padding: 0px;
    margin: 0px;
    left: 0%;
    bottom: 0%;
    position: absolute;
    padding: 2px;
    display: inline-block;
    width: 100%;
}

.rodape p {
    margin: 0 auto;
}