.color-theme_image3A32804_mirror2-1-rgba { color: rgba(223, 155, 242, 1); }
.color-theme_image3A32804_mirror2-2-rgba { color: rgba(137, 122, 191, 1); }
.color-theme_image3A32804_mirror2-3-rgba { color: rgba(40, 66, 89, 1); }
.color-theme_image3A32804_mirror2-4-rgba { color: rgba(33, 64, 46, 1); }
.color-theme_image3A32804_mirror2-5-rgba { color: rgba(39, 89, 52, 1); }